<% provide(:title, @user.firstName + @user.lastName) %>
<br>
<br>
<br>
<br>
<div class="jumbotron ">
    <section class = "user_info ">
      <h1 class= "center">   Welcome
        <%= @user.firstName %>
        <%= @user.lastName %>!
                
      </h1>
    </section>
</div>