<% provide(:title, @user.firstName + @user.lastName) %>
<br>
<br>
<br>
<br>
<div class="jumbotron ">
    <section class = "user_info ">
      <h1 class= "center">   Welcome
        <%= @user.firstName %>
        <%= @user.lastName %>!
                
  <%= link_to "Create Event", new_event_path, class: "button" %>

  <%= link_to "View Events", events_path, class: "button" %>
      </h1>
    </section>
</div>