<% provide(:title, 'Attendees') %>
<br><br><br><br><br><br>
<h1>Event Attendees</h1>

<ul class="users">
  <% @attendees.each do |attendee| %>
    <li>
      <%= link_to attendee.firstName + ' ' + attendee.lastName, attendee %>
    </li>
  <% end %>
</ul>