


<div style="width: 420px;">
	<div style="float: left; width: 100px;" class="response-user">

	<%=  gravatar_for response.user %> 
	<span class="user">
		<%= link_to response.user.firstName + ' ' + response.user.lastName.first, response.user, class:"response-user-name" %>
	</span>
	</div>
	<div style="float: left; width: 250px; margin-bottom: 3.5em;" class="content"><%= response.response %></div>
</div>

<small class="timestamp">
	<%= time_ago_in_words(response.created_at) %> ago.
</small>


