/* IPAD */


.w-container {
    width: 80%;
}
@media screen and (min-device-width: 767px) and (max-width: 850px) { 
}

/* IPHONE 4-5 */
@media screen  and (max-width: 321px) {
}


 /* IPHONE 6 */
@media screen and (min-device-width: 322px) and (max-width: 850px) { 
}


/*ALL MOBILE*/
@media screen and (max-width: 850px) { 
	a.navigation-link.w-nav-link.w--nav-link-open {
	    color: white !important;
	}
	.w-container  {
	    width: 80%;
	}
	.event_access_form  {
	    width: 80%;
	    padding-top: 40px !important;
	}
	#event_access_button{
		margin-top: 1em;
	}
	.main {
	    // margin-top: 150px !important;
	    // margin-left: 50px !important;
	    // margin-right: 50px !important;
	    // margin-bottom: 100px !important;
	}
	.event_head, .asks, .response, .responses, .events_container {
		width: 100% !important;
	}

	.navigation-bar {
    	position: relative !important;
    }


	.events_index {
	    margin-top: 0px !important;
	}


}


