


		<footer class="footer">
			<div class="w-container">
				<div class="w-row">
					<div class="spc w-col w-col-4">
						<h5>about US
						</h5>
						<p>Lynx was conceived in 2015 by Enhao Li &amp; Xuan Yue in the effort to address the current day frustrations with professional networking.&nbsp;
						</p>
					</div>
					<div class="spc w-col w-col-4">
						<h5>Our AFFILIATES
						</h5>
						<a class="footer-link" href="http://runway.is">RUNWAY
						</a>
						<a class="footer-link" href="http://www.meetup.com/InfluenceOthers">RESOURCE CENTER - SCIENTIFIC MARKETING
						</a>
						<a class="footer-link" href="http://www.pincc.org">PINCC
						</a>
					</div>
					<div class="w-col w-col-4">
						<h5>social
						</h5>
						<div class="footer-link-wrapper w-clearfix">
							<img class="info-icon" src="http://uploads.webflow.com/5708403cc3aa1ecb51b0c5a4/5708403cc3aa1ecb51b0c5cb_social-18.svg" width="20">
							<a class="footer-link with-icon" href="http://www.twitter.com/hellolynx">Twitter
							</a>
						</div>
						<div class="footer-link-wrapper w-clearfix">
							<img class="info-icon" src="http://uploads.webflow.com/5708403cc3aa1ecb51b0c5a4/5708403cc3aa1ecb51b0c5ba_social-03.svg" width="20">
							<a class="footer-link with-icon" href="http://www.facebook.com/lynxnetworking">Facebook
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="center footer">
			<div class="w-container">
				<div class="footer-text">Copyright Lynx 2016
				</div>
			</div>
		</footer>