<br><br>
<div id="mySidenav" class="sidenav">

  <%= link_to "Create Event", new_event_path, class: "navigation-link w-nav-link" %>

  <%= link_to "Events", events_path, class: "navigation-link w-nav-link" %>
</div>